/* PC */
@media (min-width: 992px) {
}
/* Tablet & mobile */
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* mobile */
@media (min-width: 767.98px) {
}
